<%- include("partials/header.ejs") %>

<form action="/createPost" method="post" class="mb-4">
    <button class="create-post-btn">Create Post</button>
</form>
<div class="container">
    <div class="row">
        <% BlogPosts.forEach(function(blog) { %>
            <div class="col-md-4 ">
                <a href="/post/<%= blog.id %>" >
                    <div class="card-link mb-4 shadow-sm text-left" style="background-color: white; border-color: black;">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= blog.author %></h6>
                            <small class="text-muted"><%= blog.date %></small>
                            <p class="card-text" style="text-align: left;"><%= blog.content.substring(0, 200) %>...</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/post/<%= blog.id %>" class="readmore">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>

<%- include("partials/footer.ejs") %>